.tw-followCard{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;


}
.tw-followCard-header{
    display: flex;
    align-items: center;
    gap: 7px;
}
.tw-followCard-info{
    display: flex;
    flex-direction: column;
}
.tw-followCard-infoUserName{
    opacity: .6;
}

.tw-followCard-avatar{
    width:48px;
    heigth : 48px;
    border-radius: 50%;
}
.tw-followCard-button{
    cursor: pointer;
    margin-left: 10px;
    background-color: azure;
    color: black;
    border-radius: 20px;
    padding: 8px;
    font-family: system-ui;
    font-weight: 700;
    padding: 3px 13px 3px 13px;
    };

.tw-followCard-button.isfollowing{
    border:  1px solid red;
    background-color: #09f ;
    };



.tw-followCard-button:hover{
    background-color: #09f ;
    color: white;
    transition: .5s ease background-color;
    };